@import './header/__name/header__name.scss';

@import './collage/collage.scss';
@import './collage/__photo/collage__photo.scss';
@import  './collage/__photo-src/collage__photo-src.scss';

@import './footer/__year/footer__year.scss';

body {
    display: grid;
    justify-items: center;
    background-color: black;
}

$a: 3;
$w: 360px;
$h: 240px;
$g: 10px;
$b: 20px;

.collage {
    @include collage($a, $w, $h, $g, $b);
}

.collage__photo {
    @include photo($w, $h);
}

@keyframes scale {
    from { transform: scale(1, 1);}
    to { transform: scale(2, 2);}
}

.collage__photo:hover {
    animation: scale 5s;
    animation-fill-mode: forwards;
}

$w: $w * 2/3;
$h: $h * 2/3;
$g: $g / 2;
$b: $b / 2;

$mw: 1024px;

@media screen and (max-width: $mw) {
    .collage {
        @include collage($a, $w, $h, $g, $b);
    }
    
    .collage__photo {
        @include photo($w, $h);
    }
}

$a: $a / 3;

$mw: $mw / 2 ;

@media screen and (max-width: $mw) {
    .collage {
        @include collage($a, $w, $h, $g, $b);
    }
    
    .collage__photo {
        @include photo($w, $h);
    }
}