@import './header/__name/header__name.scss';

@import './collage/collage.scss';
@import './collage/__photo/collage__photo.scss';
@import  './collage/__photo-src/collage__photo-src.scss';

@import './footer/__year/footer__year.scss';

body {
    display: grid;
    justify-items: center;
    background-color: black;
}
